<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>E-Agri Kit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="static/css/flexslider.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="static/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
			<h1 id="colorlib-logo"><a href="#">E-Agri Kit</a></h1>
			<nav id="colorlib-main-menu" role="navigation"><br><br><br><br>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/work">Project</a></li>
					<li class="colorlib-active"><a href="/about">About</a></li>
					<li><a href="/services">Services</a></li>
					<li><a href="/blog">Technology</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>

			<div class="colorlib-footer">
				<p><small>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> Made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> Distributed by: <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>-->
<!--&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt; </span> <span>Demo Images: <a href="http://nothingtochance.co/" target="_blank">nothingtochance.co</a></span></small></p>-->
<!--				<ul>-->
<!--					<li><a href="#"><i class="icon-facebook2"></i></a></li>-->
<!--					<li><a href="#"><i class="icon-twitter2"></i></a></li>-->
<!--					<li><a href="#"><i class="icon-instagram"></i></a></li>-->
<!--					<li><a href="#"><i class="icon-linkedin2"></i></a></li>-->
<!--				</ul>-->
<!--			</div>-->

		</aside>

		<div id="colorlib-main">

			<div class="colorlib-about">
				<div class="colorlib-narrow-content">
					<div class="row row-bottom-padded-md">
						<div class="col-md-6">
							<div class="about-img animate-box" data-animate-effect="fadeInLeft" style="background-image: url(static/images/t.jpg);">
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="about-desc">
								<span class="heading-meta">Welcome</span>
								<h2 class="colorlib-heading">project abstract</h2>
								<p>Our paper presents an agriculture aid application which is developed and designed to help the farmers. As Agriculture was the key development in the rise of sedentary human civilization, whereby farming of domesticated species created food surpluses that enabled people to live in cities. And it will be difficult for a person to identify every crop just by looking at the leaves and along with that selling the crop for a suitable and affordable prices is difficult to a farmer.</p>
								<p> Where to overcome this all problems we are creating an application where we are developing an algorithm that detects the type of crop by giving the leaf input image and also creating a platform where an investor can invest into a crop by funding into a crop which is given by a farmer and where farmer can sell their crops to buyers with the rates that which are suitable with the crop.</p>
							</div>
<!--							<div class="row padding">-->
<!--								<div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">-->
<!--									<a href="#" class="steps active">-->
<!--										<p class="icon"><span><i class="icon-check"></i></span></p>-->
<!--										<h3>We are <br>pasionate</h3>-->
<!--									</a>-->
<!--								</div>-->
<!--								<div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">-->
<!--									<a href="#" class="steps">-->
<!--										<p class="icon"><span><i class="icon-check"></i></span></p>-->
<!--										<h3>Honest <br>Dependable</h3>-->
<!--									</a>-->
<!--								</div>-->
<!--								<div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">-->
<!--									<a href="#" class="steps">-->
<!--										<p class="icon"><span><i class="icon-check"></i></span></p>-->
<!--										<h3>Always <br>Improving</h3>-->
<!--									</a>-->
<!--								</div>-->
<!--							</div>-->
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
							<h2 class="colorlib-heading">Our Work</h2>
							<p> we are creating an application where we are developing an algorithm that detects the type of crop by giving the leaf input image and also creating a platform where an investor can invest into a crop by funding into a crop which is given by a farmer and where farmer can provide the details regarding the crop that which includes farmer name, crop name, crop yield, location, year, investment, profit also can view money for investing in a crop. And where farmer can sell their crops to buyers with the rates that which are suitable with the crop. If buyer is fine with the selling details provided by farmer buyer can contact farmer to buy the crop.</p>
						</div>
						<div class="col-md-8 animate-box" data-animate-effect="fadeInRight">
							<div class="fancy-collapse-panel">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingOne">
									        <h4 class="panel-title">
									            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Objective..
									            </a>
									        </h4>
									    </div>
									    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									         <div class="panel-body">
									            <div class="row">
										      		<div class="col-md-12">
										      			<p>In this application, we create a deep learning architecture to identify the type of crop from the provided leaf input and also creating an platform in which investors can invest into a crop and farmers can able to sell their yield . </p>
										      		</div>
<!--										      		<div class="col-md-6">-->
<!--										      			<p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>-->
<!--										      		</div>-->
										      	</div>
									         </div>
									    </div>
									</div>
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingTwo">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Advantages
									            </a>
									        </h4>
									    </div>
									    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									        <div class="panel-body">
<!--									            <p>Far far away, behind the word <strong>mountains</strong>, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>-->
													<ul>
														<li>Easy prediction of crops.</li>
														<li>Accurate classification.</li>
														<li>Easy way to sell the crop.</li>
														<li>Advantageous to investors.</li>
													</ul>
									        </div>
									    </div>
									</div>
									<div class="panel panel-default">
									    <div class="panel-heading" role="tab" id="headingThree">
									        <h4 class="panel-title">
									            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Applications
									            </a>
									        </h4>
									    </div>
									    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									        <div class="panel-body">
<ul>
														<li>Agricuture field</li>
														<li>Agriculture Business</li>
														<li>Farmers-Forming</li>
<!--														<li>Advantageous to investors.</li>-->
													</ul>									        </div>
									    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
<!--			<div id="colorlib-counter" class="colorlib-counters" style="background-image: url(static/images/cover_bg_1.jpg);" data-stellar-background-ratio="0.5">-->
<!--				<div class="overlay"></div>-->
<!--				<div class="colorlib-narrow-content">-->
<!--					<div class="row">-->
<!--					</div>-->
<!--					<div class="row">-->
<!--						<div class="col-md-3 text-center animate-box">-->
<!--							<span class="icon"><i class="flaticon-skyline"></i></span>-->
<!--							<span class="colorlib-counter js-counter" data-from="0" data-to="1539" data-speed="5000" data-refresh-interval="50"></span>-->
<!--							<span class="colorlib-counter-label">Projects</span>-->
<!--						</div>-->
<!--						<div class="col-md-3 text-center animate-box">-->
<!--							<span class="icon"><i class="flaticon-engineer"></i></span>-->
<!--							<span class="colorlib-counter js-counter" data-from="0" data-to="3653" data-speed="5000" data-refresh-interval="50"></span>-->
<!--							<span class="colorlib-counter-label">Employees</span>-->
<!--						</div>-->
<!--						<div class="col-md-3 text-center animate-box">-->
<!--							<span class="icon"><i class="flaticon-architect-with-helmet"></i></span>-->
<!--							<span class="colorlib-counter js-counter" data-from="0" data-to="5987" data-speed="5000" data-refresh-interval="50"></span>-->
<!--							<span class="colorlib-counter-label">Constructor</span>-->
<!--						</div>-->
<!--						<div class="col-md-3 text-center animate-box">-->
<!--							<span class="icon"><i class="flaticon-worker"></i></span>-->
<!--							<span class="colorlib-counter js-counter" data-from="0" data-to="3999" data-speed="5000" data-refresh-interval="50"></span>-->
<!--							<span class="colorlib-counter-label">Partners</span>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div id="get-in-touch" class="colorlib-bg-color">-->
<!--				<div class="colorlib-narrow-content">-->
<!--					<div class="row">-->
<!--						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">-->
<!--							<h2>Get in Touch!</h2>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="row">-->
<!--						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">-->
<!--							<p class="colorlib-lead">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>-->
<!--							<p><a href="#" class="btn btn-primary btn-learn">Contact me!</a></p>-->
<!--						</div>-->
<!--						-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->

	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="static/js/jquery.flexslider-min.js"></script>
	<!-- Sticky Kit -->
	<script src="static/js/sticky-kit.min.js"></script>
	<!-- Owl carousel -->
	<script src="static/js/owl.carousel.min.js"></script>
	<!-- Counters -->
	<script src="static/js/jquery.countTo.js"></script>


	<!-- MAIN JS -->
	<script src="static/js/main.js"></script>

	</body>
</html>

